<%= paginate @ruby_gems %>
<% @ruby_gems.each do |ruby| %>
<li type= "none"><%= link_to ruby.name, ruby_gem_path(ruby) %> </li>
<% if current_user.admin %>
    <%= button_to "Delete Gem #{ruby.name}", admin_ruby_gem_path(ruby), :class => "button small", method: :delete %>
    <%end%> 
<%end%>

 <!-- //admin is creating problems on ruby_gems link// -->
 