<div class=image><%=image_tag "ruby1.png" %></div>

<div class="row">
<table>
<tr><p id="gelp"> Gelp </p> </tr>
<tr><p id="home">A Review Site for Gems <%= image_tag "ruby2.png" %></p></tr> 
</table>
</div>