<div class=image><%=image_tag (image_path("ruby1.png")) %></div>

<div class="row">
  <table>
    <tr><p id="gelp"> Gelp </p> </tr>
    <tr><p id="home">A Review Site for Gems <%= image_tag (image_path("ruby2.png")) %></p></tr> 
  </table>
</div>