<div class="row">
<div class=image><%=image_tag "ruby1.png" %></div>
<li type= "none"><%= @review.title%><li>
<li type= "none"><%= @review.body%></li>
<li type= "none"><%= @review.rating%></li>
</div>


